<div class="pa4">
    <div class="overflow-auto">
      <button routerLink="create-space/" mat-icon-button aria-label="Add Space">
        <mat-icon>add</mat-icon>
      </button>
      <mat-form-field class="w-100">
        <mat-label>Filter Spaces</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input/>
      </mat-form-field>
  
      <table
        matSort
        mat-table
        [dataSource]="spaceSource"
        multiTemplateDataRows
        class="w-100 overflow-hidden pointer"
      >
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let space">{{ space.code }}</td>
        </ng-container>
  
        <ng-container matColumnDef="totalCapacity">
          <th mat-header-cell *matHeaderCellDef>Total Capacity</th>
          <td mat-cell *matCellDef="let space">{{ space.totalCapacity }}</td>
        </ng-container>
  
        <ng-container matColumnDef="occupiedCapacity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Occupied Capacity</th>
          <td mat-cell *matCellDef="let space">{{ space.occupiedCapacity }}</td>
        </ng-container>
  
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let space">
            <!-- <button
              routerLink="create-space/"
              mat-icon-button
              aria-label="Add Space"
            >
              <mat-icon>add</mat-icon>
            </button> -->
            <button
              routerLink="edit-space/{{space.id}}"
              mat-icon-button
              aria-label="Edit space"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="delete(space.id)"  mat-icon-button aria-label="Delete space">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let space"
            [attr.colspan]="spaceColumnsToDisplay.length"
          >
            <div
              class="table-element-detail"
              [@detailExpand]="space == expandedElement ? 'expanded' : 'collapsed'"
              [@detailExpand]="space == expandedElement ? 'expanded' : 'collapsed'"
            ></div>
          </td>
         
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="spaceColumnsToDisplay"></tr>
        <tr
          [class.table-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element"
          class="pointer"
          mat-row
          *matRowDef="let element; columns: spaceColumnsToDisplay"
          class="table-element-row"
        ></tr>
      </table>

      <mat-paginator
      [pageSizeOptions]="[10, 25, 32, 49]"
      [length]="100"
      [pageSize]="10"
      showFirstLastButtons
    ></mat-paginator>

    </div>
  </div>