<div class="flex flex-column justify-between">
  <main class="pa4 black-80 spacer">
    <form
      class="measure center mt4 pt4"
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
    >
      <fieldset id="sign_up" class="ba b--transparent black ph0 mh0">
        <legend class="f3 fw5 ph0 mh0 tc georgia">Sign Up</legend>
        <div class="mt2">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Name</mat-label>
            <input formControlName="Name" matInput placeholder="Name" />
            <mat-error class="light-red b" *ngIf="f.Name.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt2">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              type="email"
              placeholder="Email"
            />
            <mat-error class="light-red b" *ngIf="f.email.hasError('required')">
              Required
            </mat-error>
            <mat-error class="light-red b" *ngIf="f.email.hasError('email')">
              Invalid Email
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt2">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Address</mat-label>
            <textarea
              formControlName="address"
              matInput
              placeholder="Address"
            ></textarea>
            <mat-error
              class="light-red b"
              *ngIf="f.address.hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt2">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput placeholder="City"/>
            <mat-error class="light-red b" *ngIf="f.city.hasError('required')">
              Required
            </mat-error>
            
          </mat-form-field>
        </div>
        <div class="mt2">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>State</mat-label>
            <input
              formControlName="state"
              matInput
              placeholder="State"
              [matAutocomplete]="auto"
            />
            <mat-error class="light-red b" *ngIf="f.state.hasError('required')">
              Required
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option  *ngFor="let option of filteredStateOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="mt2">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Phone</mat-label>
            <input
              formControlName="phone"
              type="tel"
              matInput
              placeholder="Phone"
            />
            <mat-error class="light-red b" *ngIf="f.phone.hasError('required')">
              Required
            </mat-error>
            <mat-error
              class="light-red b"
              *ngIf="
                f.phone.hasError('minlength') || f.phone.hasError('maxlength')
              "
            >
              Invalid Phone Number
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt2">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Strong Password"
            />
            <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{
              hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-error
              class="light-red b"
              *ngIf="f.password.hasError('required')"
            >
              Required
            </mat-error>
            <mat-error
              class="light-red b"
              *ngIf="f.password.hasError('minlength')"
            >
              Password must be atleast 6 Characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt2">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Confirm Password</mat-label>
            <input
              formControlName="confirmPassword"
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="your password"
            />
            <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{
              hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-error
              class="light-red b"
              *ngIf="f.confirmPassword.hasError('required')"
            >
              Required
            </mat-error>
            <mat-error
              class="light-red b"
              *ngIf="f.confirmPassword.hasError('mustMatch')"
            >
              Must match Password
            </mat-error>
          </mat-form-field>
        </div>
      </fieldset>
      <div class="mv2">
        <button class="w-100" mat-stroked-button color="primary">
          Sign Up
        </button>
      </div>
      <div class="mt3 lh-copy cf">
        <div class="fl w-50 tc">
          <button routerLink="/login" mat-button color="secondary">
            Login
          </button>
        </div>
        <div class="fl w-50 tc">
          <button routerLink="/forgot-password" mat-button color="secondary">
            Forgot Password?
          </button>
        </div>
      </div>
    </form>
  </main>

  <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
    <small class="f6 db tc"
      >© 2021 <b class="ttu">MechPark</b> All Rights Reserved</small
    >
    <div class="tc">
      <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim"
        >Language</a
      >
      <a href="/terms/" title="Terms" class="f6 dib ph2 link mid-gray dim"
        >Terms of Use</a
      >
      <a href="/privacy/" title="Privacy" class="f6 dib ph2 link mid-gray dim"
        >Privacy</a
      >
    </div>
  </footer>
</div>
