<div class="flex flex-column justify-between">
  <div class="dtc v-mid tc pa3 pa4-l">
    <article class="cf">
      <div class="fl w-100 w-100-m w-50-ns tc">
        <img
          src="assets/header1.svg"
          class="w-100 f5 measure"
          alt="Photo of outer space"
        />
      </div>
      <div class="fl w-100 w-100-m w-50-ns tc">
        <div class="pa3 pa4-m pa5-l">
          <h1 class="f2 f2-m f1-l fw3 georgia mb0 lh-title">
            want an easy parking management?
          </h1>
          <h2 class="fw2 f3 mt3 mb4">
            register below for hassle free management
          </h2>
          <a
            class="pa2 ba b--light-purple"
            mat-stroked-button
            color="accent"
            routerLink="/register"
            matTooltip="For Parking Manager and Allocation Manager"
            matTooltipClass="mono-tooltip"
            >Register</a
          >
          <span class="dib v-mid ph3 white-70 mb3">or </span>
          <a
            routerLink="/trial"
            class="f6 no-underline dim dib v-mid white ba b--white br2 ph3 pv2 mb3"
            >See Trial</a
          >
        </div>
      </div>
    </article>
  </div>
  <div class="dtc v-mid tc pa3 pa4-l">
    <article class="cf">
      <div class="fl w-100 w-100-m w-50-ns tc">
        <img
          src="assets/header2.svg"
          class="w-100 f5 measure"
          alt="Photo of outer space"
        />
      </div>
      <div class="fl w-100 w-100-m w-50-ns tc">
        <div class="pa3 pa4-m pa5-l">
          <h1 class="f2 f2-m f1-l fw3 georgia mb0 lh-title">
            easy booking solution for end user
          </h1>
          <h2 class="fw2 f3 mt3 mb4">sign up below for more</h2>
          <a
            class="pa2 ba b--light-purple"
            mat-stroked-button
            color="accent"
            routerLink="/signup"
            matTooltip="For End User / Customer"
            matTooltipClass="mono-tooltip"
            >Sign Up</a
          >
          <span class="dib v-mid ph3 white-70 mb3">or </span>
          <a
            routerLink="/trial"
            class="f6 no-underline dim dib v-mid white ba b--white br2 ph3 pv2 mb3"
            >See Trial</a
          >
        </div>
      </div>
    </article>
  </div>
</div>
